*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* contenitore */
.container{
  width: 100%;
  height: 100vh;
}

/* header */
header{
  width: 100%;
  height: 100px;
  padding: 40px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img{
  width: 220px;
}

.ricerca{
  height: 35px;
  width: 205px;
}
.cerca{
  height: 35px;
  cursor: pointer;
}

/* section */
#filmSerietv{
  height: calc(100% - 100px);
  background-color: #303030;
  overflow: auto;
}
.contenitore-movie,.contenitore-serie{
  display: flex;
  flex-wrap: nowrap;
  margin: 25px 40px;
}

.contenitore-movie span img,
.contenitore-serie span img{
  width: 25px;
}


/* blocco template  */

.copertina{
  margin-right: 20px;
  position: relative;
}

/* .copertina:hover .poster{
  opacity: 0.1;
} */
.copertina:hover  .intrattenimento{
  display: block;
  cursor: pointer;
}
.intrattenimento{
  width: 342px;
  height: 513px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 8px;
  background-color: #000;
  overflow-y: auto;
  display: none;
}
ul{
  list-style-type: none;
}
li{
  color: white;
  font-size: 19px;
  font-weight: 600;
  margin: 5px 0;
}
li>span{
  font-size: 17px;
  font-weight: normal;
}
.poster{
  width: 342px;
  height: 513px;
}
#lingua{
  display: flex;
  align-items: center;
}
#lingua img{
  height: 22px;
}
.fas,.far{
  color: yellow;
}
